.container {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 1rem; /* Base font size */
    transition: background-color 0.3s, padding 0.3s, gap 0.3s; /* Smooth transitions */
}

.container:hover,
.container.active {
    background-color: #2e374a;
}

@media (max-width: 768px) {
    .container {
        padding: 15px; /* Reduce padding on smaller screens */
        font-size: 0.9rem; /* Slightly smaller font size */
        gap: 8px; /* Reduce gap between icon and text */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px; /* Further reduce padding on very small screens */
        font-size: 0.8rem; /* Further reduce font size */
        gap: 5px; /* Minimize gap on very small screens */
    }
}
