.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Space between search/add button and table */
}



.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--text);
}

.table th {
    background-color: #2e374a;
    color: white;
    font-weight: bold;
}

.equipment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.equipmentImage {
    border-radius: 50%;
    object-fit: cover;
    width: 40px; /* Maintain a consistent size for the image */
    height: 40px; /* Maintain a consistent size for the image */
}
